.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.semantic {
    width: 300px;
    background-color: #fd9d3e8a;
    padding: 10px;
    border-radius: 20px;
    height: 450px;
}

.inline-container {
    width: 300px;
    background-color: #fd9d3e8a;
    padding: 10px;
    border-radius: 20px;
    height: 450px;
}