.cart-container {
    margin-top: 50px;
    width: 500px;
    margin: auto;
    margin-bottom: 40px;
}

.review-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.review-content {
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}