.cart-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    width: 300px;
    /* align-content: center; */
    margin-left: 300px;
}

.review-content {
    background-color: rgb(223, 202, 242);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}